<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">My Contacts</h2>
      <%if @contacts.empty? %>
        <h2 class="text-center">No contacts found</h2>
      <% else %>
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
          </tr>
          <% @contacts.each do |contact|%>
            <tr>
              <td><%= contact.id%></td>
              <td><%= contact.firstname%> <%= contact.lastname%></td>
              <td><%= contact.email%></td>
              <td><%= contact.phone%></td>
              <td>
                <%= link_to contact_path(contact) do%>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <% end %>

              </td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <%= link_to "Add New", new_contact_path%>

    </div>
  </div>
</div>
